<!DOCTYPE html>
<html>

<%- include('./common/head'); %>

<body>
    <form class="definewidth m20" id>
        <input type="hidden" name="id" value="<%- data.id %>" />
        <table class="table table-bordered table-hover definewidth m10">
            <tr>
                <td width="10%" class="tableleft">用户名</td>
                <td><input type="text" name="username" minlength="5" maxlength="18" value="<%- data.username %>" /></td>
            </tr>
            <tr>
                <td class="tableleft">密码</td>
                <td><input type="password" name="password" minlength="5" maxlength="18" value="<%- data.password %>" />
                </td>
            </tr>
            <tr>
                <td class="tableleft">机构名称</td>
                <td>
                    <select name="gid">
                        <% if(data.gid==1) {%>
                        <option value="0">未分配</option>
                        <option value="1" selected>顺顺教育机构</option>
                        <option value="2">新东方</option>
                        <option value="3">蓝翔</option>
                        <%}
                        %>
                        <% if(data.gid==2) {%>
                        <option value="0">未分配</option>
                        <option value="1">顺顺教育机构</option>
                        <option value="2" selected>新东方</option>
                        <option value="3">蓝翔</option>
                        <%}
                        %>
                        <% if(data.gid==3) {%>
                        <option value="0">未分配</option>
                        <option value="1">顺顺教育机构</option>
                        <option value="2">新东方</option>
                        <option value="3" selected>蓝翔</option>
                        <%}
                        %>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tableleft">状态</td>
                <td>
                    <% if(data.state==0) {%>
                    <input type="radio" name="state" value="0" name="user.status" value='1'>启用
                    <input type="radio" name="state" value="1" name="user.status" value='0' checked /> 禁用
                    <%}
                    %>
                    <% if(data.state==1) {%>
                    <input type="radio" name="state" value="0" name="user.status" value='1' checked>启用
                    <input type="radio" name="state" value="1" name="user.status" value='0' /> 禁用
                    <%}
                    %>

                </td>
            </tr>
            <tr>
                <td class="tableleft"></td>
                <td>
                    <button type="submit" class="btn btn-primary" type="button" id="btnSave">保存</button>
                    &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
                </td>
            </tr>
        </table>
    </form>
    <script src="/js/UserEdit.js"></script>
</body>

</html>