body {
  background-color: #2b2b2b;
}

.topnav {
  width: 100%;
  height: 28px;
  background-color: #2b2b2b;
  border-bottom: 1px solid #222222;
}

.topnav .topnav-left {
  height: 28px;
  line-height: 28px;
  float: left;
}

.topnav .topnav-left a {
  float: left;
  color: #cccccc;
  margin: 0 10px;
}
.topnav .topnav-left a:hover {
  color: #ff9d00;
}

.topnav .topnav-right {
  height: 100%;
  float: right;
}
.topnav .topnav-right a,
.topnav .topnav-right span {
  color: #ccc;
  margin: 0 10px;
  line-height: 28px;
}
.topnav .topnav-right li {
  float: left;
  position: relative;
}
.topnav .topnav-right li img {
  display: none;
  position: absolute;
  left: -56px;
  top: 20px;
}

.topnav .topnav-right li a:hover {
  color: #ff9d00;
}
.topnav .topnav-right li.myyxk ul {
  display: none;
}
.topnav .topnav-right li.myyxk:hover ul {
  display: block;
}

.topnav .topnav-right li.myyxk:hover {
  background-color: #fff;
}
.topnav .topnav-right li.myyxk:hover span {
  color: #000;
}
.topnav .topnav-right li.myyxk li:hover {
  background-color: #fdd000;
}
.topnav .topnav-right li.myyxk li:hover a {
  color: #fff;
}
.myyxk::after {
  content: "";
  width: 8px;
  height: 4px;
  position: absolute;
  top: 12px;
  right: 0;
  background: url(../img/xiasanjiao.png) no-repeat right center;
}
.topnav .topnav-right li ul {
  position: absolute;
  z-index: 999;
  background-color: #fff;
}

.topnav .topnav-right li ul li {
  float: none;
  display: block;
}
.topnav .topnav-right li ul li a {
  color: #555;
}

.topnav .topnav-right li a:hover img {
  z-index: 999  ;
  display: block;
}
.topnav .topnav-right li:nth-child(4) .app i {
  color: #fdd000;
}
.topnav .topnav-right li:nth-child(4) .wx {
  z-index: 999  ;
  left: -26px;
}

.topnav .topnav-right li:nth-child(n + 5) a:hover i {
  color: #fdd000;
}

.topnav .topnav-right .app .wx {
  display: none;
  position: absolute;
  width: 130px;
  height: 130px;
  padding: 10px;
  left: -70px;
  top: 30px;
  background-color: #ffffff;
  z-index: 999;
}
.topnav .topnav-right .app:hover .wx {
  display: block;
}

.topnav .topnav-right .app .wx img {
  position: absolute;
  width: 130px;
  left: 10px;
  top: 10px;
  height: 130px;
}
.topnav .topnav-right .app .wx:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  top: -18px;
  left: 65px;
}
.search {
  height: 120px;
  
}
.search .search-logo {
  float: left;
  margin-top: 40px;
  
}
.search .searc-area-city {
  float: left;
  margin-left: 130px;
  margin-right: 20px;
}
.search .searc-area-city span {
  font-size: 16px;
  color: #fdd000;
  line-height: 120px;
  background: url(../img/search-area-xsj.png) no-repeat right center;
  padding-right: 10px;
}
.search .search-area-box {
  float: left;
  height: 40px;
  width: 564px;
  box-sizing: border-box;
  border: 2px solid #fdd000;
  margin-top: 40px;
}
.search .search-area-box-input {
  float: left;
  width: 430px;
  height: 100%;
  background-color: #333333;
}
.search .search-area-box-input span{
  float: left;
  color: #afaaaa;
  font-size: 16px;
  line-height: 36px;
  background: url(../img/xiasanjiao.png) no-repeat right center;
  padding-right:10px ;
  margin-left: 10px;
}
.search .search-area-box-input  input{
  float: left;
width: 360px;
height: 36px;
background-color: #333333;
border: none;
color: #ffffff;
margin-left: 16px;
}
.search .search-area-box button {
  float: right;
  width: 132px;
  height: 100%;
  border: none;
  background-color: #fdd000;
  font-size: 20px;
  font-weight: 700;
  margin-top: -36px;
}
.search .search-hotline {
  position: absolute;
  top: 43px;
  left: 1052px;
}
.search .search-service {
position: absolute;
top: 60px;
left: 1235px;
}

.search-area .searc-area-city  ul{
  margin: 0;
  width: 100%;
  margin-top: -48px;
  margin-left: -6px;
  display: none;
}

.search-area .searc-area-city:hover  ul {
  display: block;
}
.search-area .searc-area-city  ul li{
  width: 66px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: #fff;
}

.search-area .searc-area-city  ul li a{
  color: #737373;
}

.search-area .searc-area-city  ul li:hover{
  background-color: #fdd000;
  
}
.search-area .searc-area-city  ul li:hover a{
color: #fff;
}