@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 基于375写 */
body {
  background-color: #fafafc;
}

/*  顶部搜索 */
.top-search {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.16rem;
}

.top-search .search-index {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 28px;
  line-height: 24px;
  padding: 2px 5px;
  padding-left: 35px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #fff;
  color: #666;
}

.top-search .search-index span {
  font-size: 16px;
  color: #666666;
}

.top-search .search-index span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background: url(../img/person.png) 11px 5px no-repeat;
  background-size: 21px auto;
}

.top-search .top-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 51px;
  height: 44px;
}

.top-search .top-login span {
  font-size: 0.16rem;
  color: #ffffff;
}

.top-search .top-login:before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background: url(../img/person.png) 1px -36px no-repeat;
  background-size: 21px auto;
}

.banner {
  height: 2.4rem;
  overflow: hidden;
}

.banner li {
  height: 2.4rem;
  background: url(../img/banner.jpg) no-repeat;
  background-size: 100%;
}

/* 旅游导航 */
.travel-nav {
  padding: 0 12px;
  margin-top: -0.26667rem;
}

/* 攻略 */
.strategy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border-radius: 0.12rem;
  padding: 0.05333rem 0.10667rem;
}

.strategy li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.strategy a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.strategy span {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(../img/sprite.png);
  background-position: 0 0;
}

.strategy p {
  font-size: 0.32rem;
  color: #222222;
}

/* 酒店 */
.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: pink;
  border-radius: 0.12rem;
  overflow: hidden;
  margin-top: 0.13333rem;
  /* 设置第二行图片 */
  /* 设置第三行图片 */
}

.hotel a {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

.hotel .hotel-row1 a:nth-child(1),
.hotel .hotel-row2 a:nth-child(1),
.hotel .hotel-row3 a:nth-child(1) {
  border-left: none;
}

.hotel .hotel-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(#fa5956), color-stop(54%, #fb8650));
  background: linear-gradient(to right, #fa5956, #fb8650 54%);
}

.hotel .hotel-row1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel .hotel-row1 a:nth-child(1) {
  width: 31%;
  padding: 0.66667rem 0 0.66667rem 0.32rem;
  background: url(../img/h1.png) no-repeat;
  background-position: right bottom;
  border-top: none;
}

.hotel .hotel-row1 a:nth-child(2) {
  width: 23%;
  padding: 0.34133rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/h11.png) no-repeat;
  background-position: left bottom;
  border-top: none;
}

.hotel .hotel-row1 a:nth-child(3) {
  width: 46%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffbc49), to(#ffd252));
  background-image: linear-gradient(to right, #ffbc49, #ffd252);
  border-top: none;
}

.hotel .hotel-row1 a:nth-child(3) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: url(../img/airplane.png) no-repeat;
  background-position: right bottom;
}

.hotel .hotel-row1 a:nth-child(3) span {
  position: relative;
}

.hotel .hotel-row1 a:nth-child(3) span i {
  position: absolute;
  top: -0.18667rem;
  right: 0;
  color: #fff;
  font-size: 0.16rem;
  background: #f54c45;
  border-radius: 0.09333rem 0.09333rem 0.09333rem 0;
  padding: 0.02667rem 0.06667rem;
}

.hotel .hotel-row2,
.hotel .hotel-row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel .hotel-row2 a,
.hotel .hotel-row3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel .hotel-row2 a:nth-child(1),
.hotel .hotel-row3 a:nth-child(1) {
  width: 31%;
  padding: 0.66667rem 0 0.66667rem 0.32rem;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.hotel .hotel-row2 a:nth-child(2), .hotel .hotel-row2 a:nth-child(3), .hotel .hotel-row2 a:nth-child(4),
.hotel .hotel-row3 a:nth-child(2),
.hotel .hotel-row3 a:nth-child(3),
.hotel .hotel-row3 a:nth-child(4) {
  width: 23%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel .hotel-row2 a:nth-child(2), .hotel .hotel-row2 a:nth-child(3),
.hotel .hotel-row3 a:nth-child(2),
.hotel .hotel-row3 a:nth-child(3) {
  background-position: left bottom;
  background-repeat: no-repeat;
}

.hotel .hotel-row2 {
  background: -webkit-gradient(linear, left top, right top, from(#4b8fed), to(#53bced));
  background: linear-gradient(to right, #4b8fed, #53bced);
}

.hotel .hotel-row2 a:nth-child(1) {
  background-image: url(../img/h2.png);
}

.hotel .hotel-row2 a:nth-child(2) {
  background-image: url(../img/traain2.png);
}

.hotel .hotel-row3 {
  background: -webkit-gradient(linear, left top, right top, from(#34c2aa), to(#6cd557));
  background: linear-gradient(to right, #34c2aa, #6cd557);
}

.hotel .hotel-row3 a:nth-child(1) {
  background-image: url(../img/h3.png);
}

.hotel .hotel-row3 a:nth-child(2) {
  background-image: url(../img/h4.png);
}

.hotel span {
  font-size: 0.4rem;
  color: #fff;
}

/* 自由行 */
.tour {
  /* new */
}

.tour ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tour li {
  width: 20%;
  margin: 0.13333rem 0;
}

.tour .tour-img {
  width: 28px;
  height: 28px;
  width: 56px;
  height: 56px;
  background-image: url(../img/nav-sprite.png);
  background-position: 0 0;
}

.tour a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour span {
  position: relative;
  font-size: 0.16rem;
  color: #222222;
}

.tour .tour-new {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 8px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#f94242), to(#ffa25f));
  background: linear-gradient(to right, #f94242, #ffa25f);
  border-radius: 7px;
  padding: 2px 5px;
}

/* 特卖汇 */
.special {
  padding: 0 12px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.special-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.special-title .special-title-left div {
  width: 145px;
  height: 31px;
  background: url(../img/special.png) no-repeat;
}

.special-title .special-title-rifht {
  font-size: 0.32rem;
  color: #ffffff;
  padding: 0 0.12rem 0 0.08rem;
  border-radius: .63rem;
  background: -webkit-gradient(linear, left top, right top, from(#ff4e63), to(#ff6cc9));
  background: linear-gradient(to right, #ff4e63, #ff6cc9);
}

.special-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special-content .special-content-left,
.special-content .special-content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.special-content .special-content-left {
  background-color: #f9f9f9;
  height: 5.46667rem;
}

.special-content .special-content-left a {
  display: block;
}

.special-content .special-content-left img {
  display: block;
  width: 100%;
}

.special-content .special-content-left p {
  font-size: 0.34667rem;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0.37333rem 0.21333rem 0.26667rem 0.21333rem;
}

.special-content .special-content-left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.37333rem;
  margin-left: 0.37333rem;
  color: #ff495e;
}

.special-content .special-content-left div span:nth-child(1) {
  font-size: 0.32rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.special-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.13333rem;
}

.special-content-right .special-content-tj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
  height: 2.34667rem;
}

.special-content-right .special-content-tj a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.special-content-right .special-content-tj h2 {
  color: #fd3a51;
}

.special-content-right h2 {
  font-size: 0.34667rem;
}

.special-content-right span {
  font-size: 0.29333rem;
  color: #444444;
}

.special-content-jw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.13333rem;
  height: 2.98667rem;
}

.special-content-jw > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 2.34667rem;
  height: 100%;
  background-color: #f9f9f9;
}

.special-content-jw > div:nth-child(2) {
  margin-left: 0.13333rem;
}

.special-content-jw .special-content-jw-tx {
  color: #6aabff;
}

.special-content-jw .special-content-jw-zb {
  color: #59cc77;
}

/* 热门活动 */
.hot-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.22667rem;
  padding: 0 0.21333rem;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.hot-title .hot-title-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hot-title .hot-title-left div {
  width: 145px;
  height: 31px;
  background: url(../img/special.png) 0 -39px no-repeat;
}

.hot-title .hot-title-left img {
  display: block;
  width: 72px;
  height: 30px;
  margin-left: 0.26667rem;
}

.hot-title .hot-title-right {
  background: -webkit-gradient(linear, left top, right top, from(#ff4e63), to(#ff6cc9));
  background: linear-gradient(to right, #ff4e63, #ff6cc9);
  color: #fff;
  border-radius: .63rem;
  font-size: 0.32re;
  padding: 0.13333rem 0.26667rem;
}

.hot-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hot-content li {
  width: 50%;
}

.hot-content li:nth-child(2n) {
  border-left: 1px solid #f2f2f2;
}

.hot-content a {
  display: block;
}

.hot-content img {
  width: 100%;
}

.bottom-nav {
  height: 1.68rem;
  border: 1px solid #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.32rem;
  color: #333333;
}

.bottom-nav img {
  width: 0.53333rem;
  height: 0.53333rem;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.32rem;
  color: #777777;
  margin: 0.26667rem;
}

.map > span {
  padding: 0 0.2rem;
}

.map a {
  font-size: 0.32rem;
  color: #777777;
}

/* 版权 */
.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.32rem;
  color: #999999;
  margin: 0.26667rem;
}
