@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"),
    url("iconfont.woff2") format("woff2"),
    url("iconfont.woff") format("woff"),
    url("iconfont.ttf") format("truetype"),
    url("iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_bug_report_px:before {
  content: "\e63f";
}

.icon-ic_extension_px:before {
  content: "\e64b";
}

.icon-ic_favorite_outline_px:before {
  content: "\e64c";
}

.icon-ic_favorite_px:before {
  content: "\e64d";
}

.icon-airline:before {
  content: "\e62c";
}

.icon-lightning:before {
  content: "\e636";
}

.icon-Post-itnotesbeifen:before {
  content: "\e63a";
}

.icon-wifi:before {
  content: "\e63b";
}
